/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

:root {
    --main-color:blue ;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    max-width: 1440px;
    width: 100%;
    margin: 8px;
    min-width: 320px ;
    padding: 0 50px ;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .logo {
    height: 19px;
    object-fit: cover;
    margin: 20px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: end;
    padding: 0 ;
    list-style-type: none;
    flex-direction: row;
    gap: 50px;
}

nav li {
    padding-top: 50px;
    padding-left: 0;
}

nav li:hover {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
}

h1 {
    font-size: 22px;
    margin-bottom: 5px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin: 20px 0 ;
    border-radius: 15px;
    overflow: hidden;
    width: fit-content;
    border: 1px solid #F2F2F2;
}

.location-icon {
    padding: 15px 18px ;
}

.location-icon i {
    color: black;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 15px 20px;
    font-size: 16px;
    width: 220px;
}

.btn-search {
    background-color: #0050c8;
    border-radius: 15px;
    gap: 24px;
    width: 150px;
    height: 49px;
    font-size: 18px;
    color: white;
}

.filters {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}

.filters-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 18px;
}

.filter-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    background: white;
    padding: 10px 18px;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}

.filter-btn i {
    color: #0065FC;
    font-size: 15px;
}

.filter-btn:hover {
    background-color: #DEEBFF;
    border-color: #0065FC;
}

.info {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.info i {
    border: 2px solid #DEEBFF;
    border-radius: 50%;
    padding: 10px 9px;
    margin-right: 10px;
}

#menu {
    display: flex;
    gap: 68px;
    list-style: none;
}

#menu li:hover {
    color: #0065FC;
    text-decoration: overline;
}
    
.btn search {
    background:var(--main-bg-color);
    color: white;
    border: 0;
    padding: 10px 18px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 8px 18px;
}

/*****Hebergements a Marseille*******/

h2 {
    font-size: 22px;
    margin-bottom: 20px;
    padding: 10px;
}

h4 {
   font-size:22px;
   height: 100%;
   font-weight: 700;
}

.flex {
    display: flex;
}

.mb-30 {
    margin-bottom: 30px;
}

.justify-between {
    justify-content: space-between;
}

#accommodationsMostpopular {
 display: flex;
 align-items: flex-start;
 gap: 30px;
 border-radius: 15px;
}

.Marseille-accommodations {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#accommodations {
    width: 70%;
    border-radius: 15px;
}

.px-30 {
    padding: 0px 30px;
}

.width-gap {
    gap: 40px;
}

/* .card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    gap: 4px;
    width: 250px;
    height: 207px;

} */

#accommodations .card img {
    width: 268px;
    height: 124px;
}

#Activities .card img {
    width: 297px;
    height: 439px;
}

img {
    object-fit: cover;
}

.card:hover {
    transform: scale(1.02);
}

.card-content {
    padding: 2px 20px 20px;
    gap: 30px;
}

.card-content h3 {
    font-size: 16px;
    margin: 5px 0;
}

.card-content p {
    color: #555;
    font-size: 14px;
    margin: 5px 0 8px;
}

.stars {
    color: #0065FC;
    font-size: 13px;
}

.stars .fa-regular {
    color: #d9d9d9;
}


/* .stars .fa-regular fa-star {
    color:var(--main-bg-color)
} */

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
#mostPopular {
    overflow: hidden;
    border-radius: 15px;
    height: -webkit-fill-available;
    padding-bottom: 50px;
}

.bg-grey {
    background-color: #F2F2F2;
}

/* hebergement-populaire */

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards img {
    width: 40%;
    height: auto;
    border-radius: 0;
}

.card-popular {
    width: 100%;
    max-width: 369px;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 146px;
    position: relative;
}

.populaires-card {
    width: 100%;
    padding-left: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    color: #000;
}

.card-content {
    flex-direction: column;
    justify-content: space-between;
}
.populaires-card .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-card .card-subtitle {
    margin: 0;
}

.card-rating {
    position: absolute;
    bottom: 8px;                
    color: #007BFF;      
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    margin-bottom: 5px;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

/* Activités à Marseille */

#Activities .card { 
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

}

.card img {
    width: 297px;
    height: 439px;
    object-fit: cover;
}

.card {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
    bottom: 15px;
    gap: 30px;
    object-fit: cover;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
        font-size: 22px;
}

/* .card-massilia {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    background-color: #fff;
    overflow: hidden;
    bottom: 15px;
    gap: 30px;
    width: 297px;
    object-fit: cover;
} */

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.footer-container {
    display: flex;
    padding: 40px;
}

.footer-section ul li {
    width: 446px;
    gap: 15px;
    margin: 20px auto;
    list-style: none;
}

.footer-section h2 {
    font-size: 22px;
    margin-bottom: 20px;
    padding: 0;
}

.gpx-40 {
    gap: 40px;
    margin: 40px;
}

.footer {
    height: 163px;
}

ul {
    padding: initial;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    html {
        margin: 10px;
   }

    #accommodations {
        width: 100%;
        padding: 0;
    }

    #accommodations .card img {
        width: 250px;
        height: 124px;
    }

    #accommodationsMostpopular {
        margin: 20px;
        margin-left: 0;
    }

    .mb-30 {
        margin: 30px;
    }

    h4 {
        padding: 10px;
    }

    .populaires-cards {
        flex-direction: row;
    }

    #Activities .card img {
        width: 864px;
        height: 270px;
    }

    .footer-container {
        width: 924px;
        height: 163px;
        gap: 30px;
    }

    .footer-section {
        width: 288px;
        height: 163px;
    }

    .px30 {
        padding: 0px 0px;
    }

    .search-bar {
        display: flex;
        align-items: center;
      }

      .search-bar input {
        border: none;
        padding: 10px;
        font-size: 16px;
        outline: none;
      }

      .search-bar button {
        background-color: #0065FC;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 0 15px 15px 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .search-bar .fa-magnifying-glass {
        display: block; 
      }
}

/* Mobiles et tabelttes */
@media screen and (max-width: 1024px) { 
    #accommodationsMostpopular {
       flex-direction: column;
    }

    body {
        max-width: 100%;
    }

   
      
}

/* Mobiles */
@media screen and (max-width:768px) {
    nav {
        flex-direction: column;
        margin: 30px;
    }
    
    h1 {
        display: flex;
        padding-right: 20px;
        padding-left: 20px;
        gap: 8px;
    }

    p {
        display: flex;
        padding-right: 20px;
        padding-left: 20px;
        gap: 8px;
    }

    .search-bar {
        width: 100%;
    }

    .filters {
        padding-left: 20px;
    }

    #accommodations {
        background-color: white;
        width: auto;
    }

    #accommodations .card img {
        width: 335px;
        height: 124px;
    }

    #accommodationsMostpopular {
        flex-direction: column-reverse;
    }

    .flex {
        flex-direction: column;
        gap: 15px;
    }

    #mostPopular {
        padding-right: 20px;
        padding-left: 20px;
    }

    #Activities .card img {
        width: 315px;
        height: 141px;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
    }

    .card img {
        width: 335px;
        height: 207px;
    }

     .search-bar button {
        border-radius: 15px; 
        padding: 12px;
    }

    .search-bar .btn-search {
        display: none;
    } 
      
    .search-bar .fa-magnifying-glass {
        display: inline;
        font-size: 16px;
    }
}
